In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

In [3]:
pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [4]:
from bs4 import BeautifulSoup 

import requests 

import csv

import pandas as pd

In [10]:
url='https://www.nike.com/in/w/mens-shoes-nik1zy7ok'

In [11]:
req=requests.get(url)

In [12]:
content=BeautifulSoup(req.content,'html.parser')

In [22]:
name=content.find_all('div',{"class":"product-card__titles"})
price=content.find_all('div',{"class":"product-card__price"})

In [24]:
nm=[]
pr=[]

In [25]:
for i in name:
    nm.append(i.text)
for i in price:
    pr.append(i.text)

In [26]:
data={'NAME':nm,'PRICE':pr}
df=pd.DataFrame(data)

In [27]:
print(df)

                                                 NAME     PRICE
0                     Nike Air Force 1 '07Men's Shoes   ₹ 8,195
1                      Nike Air Force 1 '07Men's Shoe   ₹ 7,495
2            Nike Court Vision Low PremiumMen's Shoes   ₹ 5,995
3   Nike ZoomX Vaporfly Next% x GyakusouRunning Shoes  ₹ 24,995
4                Nike Air Force 1 '07 CraftMen's Shoe  ₹ 10,295
5                          Nike Waffle OneMen's Shoes   ₹ 8,295
6                          Nike Air Max 90Men's Shoes  ₹ 10,295
7                   Nike Blazer Low '77 PRMMen's Shoe   ₹ 8,295
8                       Nike Blazer Mid '77Men's Shoe   ₹ 9,295
9                            Jordan Delta 2Men's Shoe  ₹ 11,495
10                                Jordan Air NFHShoes   ₹ 9,295
11                         Nike Air Max 95Men's Shoes  ₹ 14,495
12           Jordan Why Not? Zer0.4 PFBasketball Shoe  ₹ 11,495
13                       Nike Air HuaracheMen's Shoes  ₹ 10,295
14                        Nike On DeckMen's Flip-Flop   ₹ 1,695
15                  Kyrie Flytrap 4 EPBasketball Shoe   ₹ 8,195
16                 Nike Air Force 1 '07 LV8Men's Shoe   ₹ 8,295
17                     Nike Venture RunnerMen's Shoes   ₹ 5,495
18                      Nike Air Max 90 SEMen's Shoes  ₹ 11,495
19                      Nike Air Max 97 SEMen's Shoes  ₹ 16,595
20                  Nike Air Max Pre-Day LXMen's Shoe  ₹ 12,495
21                  Nike Air Force 1 '07 PremiumShoes  ₹ 11,495
22                          Nike OffcourtMen's Slides   ₹ 2,995
23                    Nike Waffle Trainer 2Men's Shoe   ₹ 8,295

In [28]:
df.to_csv('18it096_princepatel.csv')