In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from google.colab import files
uploaded = files.upload()

Saving housing.csv to housing.csv

In [5]:
import pandas as pd
import io
data = pd.read_csv(io.BytesIO(uploaded['housing.csv']))
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
data.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]


**Encoding**

(1)Label encoder

(2)Onehot encoder

In [7]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
data['median_house_value'].value_counts()

500001.0    965
137500.0    122
162500.0    117
112500.0    103
187500.0     93
           ...
303200.0      1
307900.0      1
383200.0      1
360800.0      1
405500.0      1
Name: median_house_value, Length: 3842, dtype: int64

In [8]:
le=LabelEncoder()
data['median_house_value']=le.fit_transform(data['median_house_value'])
data['median_house_value'].value_counts()

3841    965
959     122
1209    117
710     103
1459     93
       ...
3172      1
3275      1
3204      1
3091      1
2119      1
Name: median_house_value, Length: 3842, dtype: int64

In [9]:
le.classes_

array([ 14999.,  17500.,  22500., ..., 499100., 500000., 500001.])


**(2)Onehot Encoder**

In [10]:
data['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [11]:
one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['ocean_proximity'].values.reshape(-1,1)).toarray()
one_hot.categories_

[array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
       dtype=object)]

In [12]:

transformed_data = pd.DataFrame(transformed_data , 
                                columns = ['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY','NEAR OCEAN'])
transformed_data.head()

   <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0        0.0     0.0     0.0       1.0         0.0
1        0.0     0.0     0.0       1.0         0.0
2        0.0     0.0     0.0       1.0         0.0
3        0.0     0.0     0.0       1.0         0.0
4        0.0     0.0     0.0       1.0         0.0

In [13]:
transformed_data.iloc[90, ]

<1H OCEAN     0.0
INLAND        0.0
ISLAND        0.0
NEAR BAY      1.0
NEAR OCEAN    0.0
Name: 90, dtype: float64

In [14]:
data['median_house_value'][90]

1209

**Normalization & Standardization**

In [15]:
numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]
numeric_columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [16]:
len(numeric_columns) , len(data.columns)

(9, 10)

In [17]:
numeric_columns.remove('longitude')
numeric_columns.remove('latitude')

temp_data = data[numeric_columns]
temp_data

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                    41.0        880.0  ...         8.3252                3665
1                    21.0       7099.0  ...         8.3014                3074
2                    52.0       1467.0  ...         7.2574                3017
3                    52.0       1274.0  ...         5.6431                2917
4                    52.0       1627.0  ...         3.8462                2925
...                   ...          ...  ...            ...                 ...
20635                25.0       1665.0  ...         1.5603                 366
20636                18.0        697.0  ...         2.5568                 356
20637                17.0       2254.0  ...         1.7000                 508
20638                18.0       1860.0  ...         1.8672                 432
20639                16.0       2785.0  ...         2.3886                 479

[20640 rows x 7 columns]

**Normalization**

In [18]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
normalizer = MinMaxScaler()
temp_data.dropna(axis = 1 , inplace = True)
normalized_data = normalizer.fit_transform(temp_data)
pd.DataFrame(normalized_data , columns = temp_data.columns)

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                0.784314     0.022331  ...       0.539668            0.954179
1                0.392157     0.180503  ...       0.538027            0.800312
2                1.000000     0.037260  ...       0.466028            0.785473
3                1.000000     0.032352  ...       0.354699            0.759438
4                1.000000     0.041330  ...       0.230776            0.761520
...                   ...          ...  ...            ...                 ...
20635            0.470588     0.042296  ...       0.073130            0.095288
20636            0.333333     0.017676  ...       0.141853            0.092684
20637            0.313725     0.057277  ...       0.082764            0.132257
20638            0.333333     0.047256  ...       0.094295            0.112471
20639            0.294118     0.070782  ...       0.130253            0.124707

[20640 rows x 6 columns]

**Standardization**

In [19]:
standard_scaler = StandardScaler()
standardized_data = standard_scaler.fit_transform(temp_data)
pd.DataFrame(standardized_data , columns = temp_data.columns)

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                0.982143    -0.804819  ...       2.344766            2.023402
1               -0.607019     2.045890  ...       2.332238            1.446535
2                1.856182    -0.535746  ...       1.782699            1.390899
3                1.856182    -0.624215  ...       0.932968            1.293290
4                1.856182    -0.462404  ...      -0.012881            1.301099
...                   ...          ...  ...            ...                 ...
20635           -0.289187    -0.444985  ...      -1.216128           -1.196706
20636           -0.845393    -0.888704  ...      -0.691593           -1.206467
20637           -0.924851    -0.174995  ...      -1.142593           -1.058102
20638           -0.845393    -0.355600  ...      -1.054583           -1.132284
20639           -1.004309     0.068408  ...      -0.780129           -1.086408

[20640 rows x 6 columns]

**Handling With Missing Values**

In [20]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [21]:
data['total_bedrooms'].isnull().sum()

207

**Simple Imputer**

In [22]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')
agent_col = imputer.fit_transform(data['total_bedrooms'].values.reshape(-1,1))
pd.DataFrame(agent_col).isnull().sum()

0    0
dtype: int64

In [23]:
data['total_bedrooms'].isnull().sum()

207

**Discretization**

In [24]:
from sklearn.preprocessing import KBinsDiscretizer
temp_data.head()

   housing_median_age  total_rooms  ...  median_income  median_house_value
0                41.0        880.0  ...         8.3252                3665
1                21.0       7099.0  ...         8.3014                3074
2                52.0       1467.0  ...         7.2574                3017
3                52.0       1274.0  ...         5.6431                2917
4                52.0       1627.0  ...         3.8462                2925

[5 rows x 6 columns]

**Quantile Discretization Transform**

In [25]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='quantile')
new_data = trans.fit_transform(temp_data)
pd.DataFrame(new_data,columns = temp_data.columns )

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                     8.0          0.0  ...            9.0                 9.0
1                     3.0          9.0  ...            9.0                 8.0
2                     9.0          2.0  ...            9.0                 8.0
3                     9.0          1.0  ...            8.0                 8.0
4                     9.0          3.0  ...            5.0                 8.0
...                   ...          ...  ...            ...                 ...
20635                 4.0          3.0  ...            0.0                 0.0
20636                 2.0          0.0  ...            2.0                 0.0
20637                 2.0          5.0  ...            0.0                 1.0
20638                 2.0          4.0  ...            0.0                 1.0
20639                 1.0          6.0  ...            2.0                 1.0

[20640 rows x 6 columns]

**Uniform Discretization Transform**

In [26]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='uniform')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                     7.0          0.0  ...            5.0                 9.0
1                     3.0          1.0  ...            5.0                 8.0
2                     9.0          0.0  ...            4.0                 7.0
3                     9.0          0.0  ...            3.0                 7.0
4                     9.0          0.0  ...            2.0                 7.0
...                   ...          ...  ...            ...                 ...
20635                 4.0          0.0  ...            0.0                 0.0
20636                 3.0          0.0  ...            1.0                 0.0
20637                 3.0          0.0  ...            0.0                 1.0
20638                 3.0          0.0  ...            0.0                 1.0
20639                 2.0          0.0  ...            1.0                 1.0

[20640 rows x 6 columns]

**KMeans Discretization Transform**

In [27]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

       housing_median_age  total_rooms  ...  median_income  median_house_value
0                     7.0          0.0  ...            6.0                 9.0
1                     3.0          4.0  ...            6.0                 7.0
2                     9.0          1.0  ...            6.0                 7.0
3                     9.0          0.0  ...            4.0                 7.0
4                     9.0          1.0  ...            3.0                 7.0
...                   ...          ...  ...            ...                 ...
20635                 4.0          1.0  ...            0.0                 0.0
20636                 3.0          0.0  ...            1.0                 0.0
20637                 3.0          1.0  ...            0.0                 1.0
20638                 3.0          1.0  ...            0.0                 1.0
20639                 2.0          2.0  ...            1.0                 1.0

[20640 rows x 6 columns]